.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.dot-green {
    background-color: green;
}

.dot-gray {
    background-color: gray;
}

.chat-list {
list-style-type: none;
padding: 0;
}

.chat-list li {
margin-bottom: 10px;
}

.chat-user {
margin-right: 10px;
font-weight: bold;
}

.disabled-button {
    /* Apply the desired styling for the disabled button */
    background-color: #ccc; /* Gray background color */
    color: #888; /* Gray text color */
    cursor: not-allowed; /* Display a 'not-allowed' cursor */
    pointer-events: none; /* Disable pointer events */
  }