{% extends "base.html" %}
{% block title %}Active Users{% endblock %}
{% block content %}
<div class="container">
	<h1>Active Users</h1>
	<ul class="list-group">
		{% for user in users %}
		<li class="list-group-item">
			{{ user.first_name }} {{ user.last_name }}
			{% if user.is_online %}
			<span class="dot dot-green"></span>
			{% else %}
			<span class="dot dot-gray"></span>
			{% endif %}
			{% if user.id != current_user.id %}
				{% set chat_exists = [] %}
				{% for chat in chats %}
					{% if chat.user1_id == current_user.id and chat.user2_id == user.id %}
						{% set temp = chat_exists.append(true)%}
					{% elif chat.user1_id == user.id and chat.user2_id == current_user.id %}
						{% set temp = chat_exists.append(true) %}
					{% endif %}
				{% endfor %}
				{% if chat_exists %}
					<button class="btn btn-primary create-chat-btn" data-userid="exists" disabled>
						Chat already exists
					</button>
				{% else %}
					<button class="btn btn-primary create-chat-btn" data-userid="{{ user.id }}">
						Create chat
					</button>
				{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
<script>
	var socket = io();

	document.querySelectorAll(".create-chat-btn").forEach(function (button) {
		button.addEventListener("click", function () {
			var userId = this.getAttribute("data-userid");

			if (userId != "exists") {
				socket.emit("create_chat", { userId: userId });
			}
			location.reload();
		});
	});
</script>
{% endblock %}
