{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block content
%}
<div class="col">
	<div class="col-4">
		<h5>Chat with {{ other_user.first_name }}</h5>
	</div>
	<div class="col">
		<div id="chat-window" style="height: 400px; overflow-y: scroll">
			{% for message in messages %} {% if message.sender_id ==
			current_user.id %}
			<p class="current-user-message">{% else %}</p>

			<p>
				{% endif %}
				<span class="message-date"
					>{{ message.timestamp.strftime('%Y-%m-%d %H:%M') }}</span
				>
				<span
					>{{ User.query.get(message.sender_id).first_name }} {{
					User.query.get(message.sender_id).last_name }}:</span
				>
				<span>{{ message.content }}</span>
			</p>
			{% endfor %}
		</div>
		<form id="message-form" action="">
			<div class="form-row">
				<div class="col-9">
					<input
						type="text"
						class="form-control"
						id="message-input"
						required
					/>
				</div>
				<div class="col-3">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const chatWindow = document.getElementById('chat-window');
    const messageForm = document.getElementById('message-form');
    const messageInput = document.getElementById('message-input');

    const socket = io();

    socket.on('connect', () => {
      socket.emit('join_chat', { chatId: {{ chat.id }} });
    });

    // Listen for the new_message event
    socket.on('new_message', (data) => {
      const message = document.createElement('p');
      message.innerHTML = `
        <span class="message-date">${data.timestamp}</span>
        <span>${data.sender.first_name} ${data.sender.last_name}:</span>
        <span>${data.message}</span>
      `;
      chatWindow.appendChild(message);
      chatWindow.scrollTop = chatWindow.scrollHeight;
    });

    messageForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const message = messageInput.value;
      if (message.trim() !== '') {
        socket.emit('send_message', { chatId: {{ chat.id }}, message: message });
        messageInput.value = '';
      }
    });
  });
</script>
{% endblock %}
