{% extends "base.html" %} {% block title %}Administrator's panel{% endblock %} {% block content %}
<div class="container">
   <h1>Users</h1>
   <ul class="list-group">
      {% for user_ in users %}
      <li class="list-group-item d-flex">
         {{ user_.first_name }} {{ user_.last_name }} {% if
         is_user_online(user_) %}
         <span class="dot dot-green mr-auto p-2"></span>
         {% else %}
         <span class="dot dot-gray mr-auto p-2"></span>
         {% endif %} {% if user_.id != current_user.id %}
         {% if not is_user_banned(user_) %}
         <button class="btn btn-danger ban-user-btn p-2 mr-2" data-userid="{{ user_.id }}">
            Ban user
         </button>
         {% else %}
         <div class="mr-auto p-2">Ban reason: {{ is_user_banned(user_).reason }}</div>
         <button class="btn btn-primary unban-user-btn p-2 mr-2" data-userid="{{ user_.id }}">
            Unban user
         </button>
         {% endif %}
         <button class="btn btn-danger delete-user-btn p-2 mr-2" data-userid="{{ user_.id }}">
            Delete user
         </button>
         {% if not user_.is_moderator %}
         <button class="btn btn-primary give-mod-btn p-2 mr-2" data-userid="{{ user_.id }}">
            Give Mod
         </button>   
         {% endif%}
         {% endif %}
      </li>
      {% endfor %}
   </ul>
</div>
{% endblock %} {% block javascript %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
<script>

   var socket = io();

   document.querySelectorAll(".ban-user-btn").forEach(function (button) {
      button.addEventListener("click", function () {
         var userId = this.getAttribute("data-userid");
         var reason=prompt('Insert ban reason:', 'test')
         socket.emit("ban_user", { userId: userId, reason: reason });
         location.reload()
      });
   });

   document.querySelectorAll(".unban-user-btn").forEach(function (button) {
      button.addEventListener("click", function () {
         var userId = this.getAttribute("data-userid");
         socket.emit("unban", { userId: userId});
         location.reload()
      });
   });

   document.querySelectorAll(".delete-user-btn").forEach(function (button) {
      button.addEventListener("click", function () {
         var userId = this.getAttribute("data-userid");
         socket.emit("delete_user", { userId: userId });
         location.reload()
      });
   });

   document.querySelectorAll(".give-mod-btn").forEach(function (button) {
      button.addEventListener("click", function () {
         var userId = this.getAttribute("data-userid");
         socket.emit("give_mod", { userId: userId });
         location.reload()
      });
   });
</script>
{% endblock %}